<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TemplatePath" value="C:\Projects\ProBono\Main\Source\Tals.ProBono\Tals.ProBono.EmailProcessing\EmailTemplates\" />
    <add key="SiteUrl" value="http://66.195.246.13:8080/" />
    <add key="SiteEmail" value="pdavis@bakerdonelson.com" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data Source=mempmosssql1;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LegalAdviceContainer" connectionString="metadata=res://*/Entities.LegalAdvice.csdl|res://*/Entities.LegalAdvice.ssdl|res://*/Entities.LegalAdvice.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MEMPMOSSSQL1;Initial Catalog=OnlineTNJustice;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="sps_admin@bakerdonelson.com" deliveryMethod="Network">
        <network host="mempexch" userName="sps_admin" password="P@ssw0rd"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.net>
    <mailSettings>
      <smtp from="help@tals.org" deliveryMethod="SpecifiedPickupDirectory">
        <network host="ignored"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\email"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.web>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile inherits="Tals.ProBono.Web.Core.Models.UserProfile">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
