<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LegalAdviceContainer" connectionString="metadata=res://*/Entities.LegalAdvice.csdl|res://*/Entities.LegalAdvice.ssdl|res://*/Entities.LegalAdvice.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MEMPMOSSSQL1;Initial Catalog=OnlineTNJustice;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>