<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace" >
    <add key="SiteUrl" value="http://waweblawyer.org/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SiteEmail" value="edmund.gorski@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="AccessToJusticeConnectionString" connectionString="data Source=AccessToJustice;Initial Catalog=AccessToJusticeServicesWA;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <location>
    <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
      <customErrors mode="On" defaultRedirect="/Error.htm" xdt:Transform="Insert" />
    </system.web>
  </location>

  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />
    <security allowRemoteAccess="1" />
  </elmah>
</configuration>