<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data Source=MLSA-MOJO-MsSql;Initial Catalog=AccessToJusticeServicesQA;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="AdviceContext" connectionString="Data Source=MLSA-MOJO-MsSql;Initial Catalog=AccessToJusticeQA;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="/Error.htm" xdt:Transform="Insert" />
  </system.web>

  <appSettings>
    <add key="SiteUrl" value="https://montanaonlinejustice.org/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SiteEmail" value="tfrederick@mtlsa.org" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />
    <security allowRemoteAccess="1" />
  </elmah>
</configuration>