<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="/Error.htm" xdt:Transform="Insert" />
  </system.web>

  <appSettings>
    <add key="SiteUrl" value="http://onlineazjustice.org/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SiteEmail" value="info@azflse.org" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />
    <security allowRemoteAccess="1" />
  </elmah>
</configuration>