<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="Elmah.sql" connectionString="data Source=probonosql;Initial Catalog=elmah;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="data Source=probonosql;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LegalAdviceContainer" connectionString="metadata=res://*/Entities.LegalAdvice.csdl|res://*/Entities.LegalAdvice.ssdl|res://*/Entities.LegalAdvice.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=probonosql;Initial Catalog=probono;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <identity impersonate="true" userName="TALS\bdbcb" password="b@k3rd0n"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="/Error.htm" xdt:Transform="Insert" />
  </system.web>
  
  <appSettings xdt:Transform="Replace" >
    <add key="TemplatePath" value="c:\inetpub\wwwroot\TNJusticeOnline\Content\EmailTemplates\"/>
    <add key="SiteUrl" value="http://www.onlinetnjustice.org/" />
    <add key="SiteEmail" value="OnlineTNJustice@tals.org" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
  </appSettings>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="help@tals.org" deliveryMethod="Network">
        <network host="tals001" userName="OnlineTNJustice" password="TNJustic3"/>
      </smtp>
    </mailSettings>
  </system.net>
  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.sql" />
    <security allowRemoteAccess="1" />
  </elmah>
  <!--
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="help@tals.org" deliveryMethod="SpecifiedPickupDirectory">
        <network host="ignored"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup"/>
      </smtp>
    </mailSettings>
  </system.net>
  -->
  </configuration>