<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="/Error.htm" xdt:Transform="Insert" />
  </system.web>

  <appSettings xdt:Transform="Replace" >
    <add key="SiteUrl" value="http://onlineazjustice.org/" />
    <add key="SiteEmail" value="edmund.gorski@gmail.com" />
  </appSettings>

  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />
    <security allowRemoteAccess="1" />
  </elmah>
</configuration>