<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="TemplatePath" value="~/Content/EmailTemplates" />
    <add key="SiteUrl" value="http://onlinejustice.local/" />
    <add key="SiteEmail" value="edmund.gorski@gmail.com" />
    <add key="StateName" value="Washington" />
    <add key="SiteName" value="Washington Web Lawyer" />
    <add key="AdminUserName" value="admin1" />
    <add key="DefaultResultsPerPage" value="20" />
    <add key="AttorneyTimeoutInMinutes" value="480"/>
    <add key="MinimumAgeRequirement" value="18" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.allowedRoles" value="Admin" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
  </appSettings>
  
  <connectionStrings>
    <add name="AccessToJusticeConnectionString" connectionString="data Source=AccessToJustice;Initial Catalog=AccessToJusticeWA;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation debug="true" targetFramework="4.0">
      </compilation>

      <authentication mode="Forms">
        <forms name=".ONLINE_JUSTICE" loginUrl="~/Account/SignIn" protection="All" timeout="30" cookieless="UseCookies" slidingExpiration="true"/>
      </authentication>
      
      <membership userIsOnlineTimeWindow="5">
        <providers>
          <clear />
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" 
               connectionStringName="AccessToJusticeConnectionString" 
               enablePasswordRetrieval="false" 
               enablePasswordReset="true" 
               requiresQuestionAndAnswer="true" 
               requiresUniqueEmail="false" 
               maxInvalidPasswordAttempts="5" 
               minRequiredPasswordLength="6" 
               minRequiredNonalphanumericCharacters="0" 
               passwordAttemptWindow="10" 
               applicationName="/" />
        </providers>
      </membership>
      <profile inherits="Tals.ProBono.Web.Models.UserProfile">
        <providers>
          <clear />
          <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AccessToJusticeConnectionString" applicationName="/" />
        </providers>
      </profile>

      <roleManager enabled="true">
        <providers>
          <clear />
          <add connectionStringName="AccessToJusticeConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
          <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
        </providers>
      </roleManager>

      <machineKey configSource="MachineKey.config"/>

      <pages>
        <namespaces>
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Routing" />
          <add namespace="Tals.ProBono.Web.Infrastructure" />
          <add namespace="Tals.ProBono.Web.Helpers" />
          <add namespace="Tals.ProBono.Web.Models" />
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.WebPages" />
          <add namespace="MvcPaging" />
        </namespaces>
      </pages>

      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      </httpHandlers>

      <httpModules>
        <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
        <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      </httpModules>
    </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".eot" />

      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <rewrite>
        <rules>
            <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                <match url="(.*)"/>
                <conditions>
                    <add input="{HTTPS}" pattern="^OFF$"/>
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
            </rule>
        </rules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true">
    <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" /><add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" /><add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" /></modules>
    <handlers>
      <remove name="AssetHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

    <elmah>
      <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.sql" />
      <security allowRemoteAccess="1" />
    </elmah>
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
  </location>

  <system.net>
    <mailSettings>
      <smtp configSource="Mail.config" />
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>