<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="ApplicationServices" connectionString="data Source=p2435387\JUSTICE;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LegalAdviceContainer" connectionString="metadata=res://*/Entities.LegalAdvice.csdl|res://*/Entities.LegalAdvice.ssdl|res://*/Entities.LegalAdvice.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=p2435387\JUSTICE;Initial Catalog=probonoweb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="/Error.htm" xdt:Transform="Insert" />
  </system.web>

  <appSettings xdt:Transform="Replace" >
    <add key="TemplatePath" value="C:\HostingSpaces\alfinc\www.alabamalegalanswers.org\wwwroot\Content\EmailTemplates\" />
    <add key="SiteUrl" value="www.alabamalegalanswers.org/" />
    <add key="SiteEmail" value="help@alabamalegalanswers.org" />
  </appSettings>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="help@alabamalegalanswers.org" deliveryMethod="Network">
        <network host="mail-hub.scbar.org" userName="postmaster" password="@rgumon" />
      </smtp>
    </mailSettings>
  </system.net>

  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />
    <security allowRemoteAccess="1" />
  </elmah>
</configuration>